/* Publications.css */

.publications-section {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .section-header {
    margin-bottom: 1rem;
  }
  
  .section-description {
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #666;
  }
  
  .publications-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .publication-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .publication-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .publication-header {
    padding: 0.5rem;
    background: #f9f9f9; /* Or any other color you prefer */
  }
  
  .publication-link {
    text-decoration: none;
    color: #333; /* Or any other text color you prefer */
  }
  
  .publication-thumbnail {
    width: 100%;
    height: auto; /* Adjust if you want a specific height */
    object-fit: cover;
  }
  
  .publication-title {
    font-size: 1.2rem; /* Adjust font size as needed */
    margin: 0;
  }
  
  .publication-abstract {
    display: none;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    overflow: auto;
    transition: all 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .publication-card:hover .publication-abstract {
    display: block;
  }
  